@media(max-width:767px)
{
    .templet
    {
        margin-top: 100px;
    }
    
    .big-company a
    {
        margin-bottom: 40px;
        margin-top: 40px;
    }
    
    .about-cars a
    {
        margin-bottom: 40px;
        margin-top: 40px;
    }
    
    .footer .mmm
    {
       text-align: center;
    }
    
        
    .contact-us button
    {
        width: 100%;
    }
    
     .sign-up .form-control
    {
        width: 100%;
    }
    
    .sign-up .btn-block
    {
        width: 100%;
    }
    
     .sign-in .form-control
    {
        width: 100%;
    }
    
    .sign-in .btn-block
    {
        width: 100%;
    }
}